<div class="month-container">
	<h1>Hammer</h1>
</div>
<div class="mdesc-container">
	<h3>"Deep Winter"</h3>
</div>
<div class="button-container">
	<div class="month-button-container">
		<div class="left-mbut-container">
			<i class="fas fa-chevron-left fa-2x"></i>
		</div>
		<div class="right-mbut-container">
			<i class="fas fa-chevron-right fa-2x"></i>
		</div>
	</div>
</div>
<br>
<body>
<div class="grid-container">
	<div class="grid-item" id="slot1">1</div>
	<div class="grid-item" id="slot2">2</div>
	<div class="grid-item" id="slot3">3</div>
	<div class="grid-item" id="slot4">4</div>
	<div class="grid-item" id="slot5">5</div>
	<div class="grid-item" id="slot6">6</div>
	<div class="grid-item" id="slot7">7</div>
	<div class="grid-item" id="slot8">8</div>
	<div class="grid-item" id="slot9">9</div>
	<div class="grid-item" id="slot10">10</div>
	<div class="grid-item" id="slot11">11</div>
	<div class="grid-item" id="slot12">12</div>
	<div class="grid-item" id="slot13">13</div>
	<div class="grid-item" id="slot14">14</div>
	<div class="grid-item" id="slot15">15</div>
	<div class="grid-item" id="slot16">16</div>
	<div class="grid-item" id="slot17">17</div>
	<div class="grid-item" id="slot18">18</div>
	<div class="grid-item" id="slot19">19</div>
	<div class="grid-item" id="slot20">20</div>
	<div class="grid-item" id="slot21">21</div>
	<div class="grid-item" id="slot22">22</div>
	<div class="grid-item" id="slot23">23</div>
	<div class="grid-item" id="slot24">24</div>
	<div class="grid-item" id="slot25">25</div>
	<div class="grid-item" id="slot26">26</div>
	<div class="grid-item" id="slot27">27</div>
	<div class="grid-item" id="slot28">28</div>
	<div class="grid-item" id="slot29">29</div>
	<div class="grid-item" id="slot30">30</div>
	<div class="empty"     id="slot31"></div>
	<div class="empty"     id="slot32"></div>
	<div class="empty"     id="slot33"></div>
	<div class="empty"     id="slot34"></div>
	<div class="holiday1"  id="slot35">h1</div>
	<div class="holiday2"  id="slot36">h2</div>
	<div class="empty"     id="slot37"></div>
	<div class="empty"     id="slot38"></div>
	<div class="empty"     id="slot39"></div>
	<div class="empty"     id="slot40"></div>
</div>
<div class="button-container">
	<div class="day-button-container">
		<div class="left-dbut-container">
			<i class="fas fa-arrow-circle-left fa-lg"></i>
		</div>
		<div class="right-dbut-container">
			<i class="fas fa-arrow-circle-right fa-lg"></i>
		</div>
	</div>
</div>
</body>
